/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;

}
body{
    background-color: #f0f0f0;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.card {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: 0.4s;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media(max-width: 674px){
    .card {
    max-width: 100%;
    }
}